@import "tailwindcss";

@layer base {
  body {
    min-height: 100vh;
    background-image: 
      linear-gradient(rgba(156, 209, 184, 0.8), rgba(156, 209, 184, 0.8)),
      url('/fondo-garage.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}